@charset "utf-8";

/* writer */
#content{ padding-bottom:0; }
.writer-content .list-item ul { display:flex; }
.writer-content .list-item ul li{ width:50%; margin-bottom:30px; flex:0 1 50%; }
.writer-content .list-item ul li:nth-child(odd){ margin-left:0; }
.writer-content .list-item ul li a{ width:100%; max-width:140px; height:180px; margin:0 auto; padding:27px 10px; display:block; border:1px solid rgba(0, 0, 0, 0.1); text-align:center; box-sizing:border-box; }

/* visual */
.visual-layout.bg{ height:540px; background-image:url(//img.sdij.com/sd2019/books/mobile/top_bg.png); background-repeat:no-repeat; background-size:cover; background-position:0 100%; color:#fff; }
.visual-layout .txt-area{ max-height:130px; overflow-y:hidden; }
.visual-layout .txt-area p{ line-height:22px; height:120px; color:rgba(255, 255, 255, 0.8); font-size:14px; font-weight:400; -webkit-line-clamp:5; }
.visual-layout .txt{ line-height:17px; margin-top:10px; background-color:transparent; border:0; color:#fff; font-size:12px; font-weight:500;  }
.visual-layout .img-area .list-item{ display:flex; justify-content:flex-end; }
.visual-layout .img-area .list-item ul{ width:256px; }
.visual-layout .img-area .list-item ul li{ margin-bottom:0; }
.visual-layout .img-area .list-item ul li a{ width:108px; }
.visual-layout .img-area .list-item ul li a .tit-area{ line-height:24px; margin-bottom:5px; color:#F7D5C0; font-size:12px; }
.visual-layout .img-area .list-item ul li a .img-area{ width:108px; height:154px; background-color:rgba(0,0,0,0.2); }
.visual-layout .img-area .list-item ul li a .txt-area{ line-height:20px; font-size:14px; font-weight:300; letter-spacing:-0.2px; }
.visual-layout .img-area .list-item ul li a .txt-area > * { height:40px; -webkit-line-clamp:2; }

/* list-item */
.list-item ul{ display:flex; }
.list-item ul li{ width:50%; margin-bottom:30px; flex:0 1 50%; justify-content:center; align-items:center; }
.list-item ul li a{ padding:30px 0; text-align:center; border:1px solid rgba(0, 0, 0, 0.1); } 
.list-item ul li a:hover{ border:1px solid rgba(0, 0, 0, 0.5); transition:.8s ease-in; }
.list-item ul li a .img-area > *{ box-sizing:border-box; }
.list-item ul li a .img-area img{ width:100%; height:100%; }
.list-item ul.book-list li a .img-area{ width:126px; height:178px; display:flex; align-items:center; justify-content:center; background-color:#ddd; overflow:hidden; }
.list-item ul.book-list li{ margin-bottom:48px; align-items:baseline; }
.list-item ul.book-list li a{ max-width:125px; padding:0; border:0; text-align:left; }
.list-item ul.book-list li a .txt-area{ margin-top:10px; }
.list-item ul.book-list li a .txt-area > *{ height:60px; padding:0; overflow:hidden; text-overflow:ellipsis; word-break:break-all; white-space:normal; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; }
.list-item ul.book-list li a .txt-area .tit{ font-size:14px; font-weight:400; }
.list-item ul.book-list li > a .tit-area > *{ height:auto; }
.list-item ul li a .circle-area{ width:60px; height:60px; margin:0 auto; border:1px solid transparent; border-radius:50%; overflow:hidden; } 
.list-item ul li a .circle-area img{ max-width:100%; height:auto; }
.list-item ul li a .circle-area p.name{ min-height:100%; display:flex; align-items:center; justify-content:center; background-color:#C4D0D5; font-size:26px; font-weight:500; color:#fff; }
.list-item ul li a .circle-area p.name:nth-child(odd){ background-color:#C9D6CA; }
.list-item ul li a .txt-area{ margin-top:16px; }
.list-item ul li a .txt-area > *{ padding:0 10px; vertical-align:middle; overflow:inherit; text-overflow:ellipsis; word-wrap:normal; white-space:normal; }
.list-item ul li a .txt-area .tit{ line-height:20px; font-size:16px; font-weight:600; }
.list-item ul li a .txt-area .txt{ line-height:22px; color:rgba(0, 0, 0, 0.6); font-size:12px; font-weight:400; }

/* table */
/* .board-list{ margin:0 25px; } */
.board-list table{ width:100%; border-top:2px solid #000; }
.board-list table tbody tr{ border-bottom:1px solid rgba(0, 0, 0, 0.2); }
.board-list table tbody tr:last-child{ border-bottom:2px solid #000; }
.board-list table tbody tr th{ padding:50px 20px; }
.board-list table tbody tr:nth-child(1) th{ background-color:rgba(0, 0, 0, 0.05); }
.board-list table tbody tr:nth-child(2) th{ background-color:rgba(0, 0, 0, 0.08); }
.board-list table tbody tr:nth-child(3) th{ background-color:rgba(0, 0, 0, 0.11); }
.board-list table tbody tr:nth-child(4) th{ background-color:rgba(0, 0, 0, 0.15); }
.board-list table tbody tr:nth-child(5) th{ background-color:rgba(0, 0, 0, 0.18); }
.board-list table tbody tr:nth-child(6) th{ background-color:rgba(0, 0, 0, 0.21); }
.board-list table tbody tr p.tit-area{ line-height:16px; font-size:16px; font-weight:600; }
.board-list table tbody tr p.tit-area small{ line-height:12px; margin-top:8px; font-size:12px; font-weight:350; }
.board-list table tbody tr td{ padding:16px 20px; }
.board-list table tbody tr td .txt-area .tit{ line-height:20px; margin-bottom:6px; font-size:14px; font-weight:500; }
.board-list table tbody tr td .txt-area .list-dotted > li{ line-height:20px; color:rgba(0, 0, 0, 0.4); font-size:12px; font-weight:350; }
.board-list table tbody tr td .txt-area .list-dotted > li.txt-underline{ color:#000; }

/* btn */
.btn-group{ margin:0 -0.25rem; display:-webkit-box; display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap;  }
.btn-group .btn{ margin:0.25rem; padding:0.4375rem; line-height:1.5rem; font-size:0.875rem; -webkit-box-flex: 1; -ms-flex:1; flex:1; }
.btn-group .btn-gray{ border:1px solid rgba(0, 0, 0, 0.2); color:rgba(0, 0, 0, 0.4); background-color:#fff; }


