@charset "utf-8";

.float-area{ *zoom:1; }
.float-area:after{ content:''; display:block; clear:both; }
.float-area .fl{ float:left; }
.float-area .fr{ float:right; }

.flex-area{ display:flex; }

.relative{ position:relative; }
.absolute{ position:absolute; }
.blind{ width:0; height:0; line-height:0; position:absolute; left:-9999px; font-size:0; overflow:hidden; }

.border-none{ border:none !important; }
.none{ display:none !important; }
.block{ display:block !important; }

.m0{ margin:0 !important; }
.mt0{ margin-top:0 !important; }
.mt5{ margin-top:5px !important; }
.mt20{ margin-top:20px !important; }
.mt25{ margin-top:25px !important; }
.mt30{ margin-top:30px !important; }
.mt40{ margin-top:40px !important; }
.mb0{ margin-bottom:0 !important; }
.mb20{ margin-bottom:20px !important; }
.mb30{ margin-bottom:30px !important; }
.mb50{ margin-bottom:50px !important; }
.mb60{ margin-bottom:60px !important; }
.mb80{ margin-bottom:80px !important; }
.ml0{ margin-left:0 !important; }
.mr0{ margin-right:0 !important; }

.p0{ padding:0 !important; }
.pt0{ padding-top:0 !important; }
.pt20{ padding-top:20px !important; }
.pt40{ padding-top:40px !important; }
.pb0{ padding-bottom:0px !important; }
.pl0{ padding-left:0px !important; }
.pr0{ padding-right:0px !important; }

.color-gray{ color:rgba(0, 0, 0, 0.4); }

.fw300{ font-weight:300; }
.fw400{ font-weight:400; }
.fw500{ font-weight:500; }
.fw600{ font-weight:600; }
.fw700{ font-weight:700; }

/* txt */
.txt-center{ text-align:center !important; }
.txt-left{ text-align:left !important; }
.txt-right{ text-align:right !important; }

.txt-underline{ text-decoration:underline; }
.txt-overflow{ overflow:hidden; text-overflow:ellipsis; word-break:break-all; white-space:normal; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; }
.txt-ellipsis{ overflow:hidden; text-overflow:ellipsis; word-wrap:normal; white-space:nowrap; }
.txt-through{ text-decoration:line-through; }

/* tit */
.tit-dep2{ line-height:32px; font-size:32px; font-weight:500; letter-spacing:-1.5px; }
.tit-dep2 small{ display:block; font-size:16px; font-weight:400; letter-spacing:-0.5px; }
.tit-dep3{ font-size:20px; font-weight:700; letter-spacing:-1.5px; }
.tit-dep3 small{ display:block; color:rgba(0, 0, 0, 0.4); font-size:12px; font-weight:300;}
.tit-dep3 .ico{ display:inline-block; top:2.5px; }

/* layout */
.content-container .content-layout, .wide-layout .content-layout{ }
.content-layout{ padding:0 25px; position:relative; }
.wide-layout{ position:relative; }

/* dim-pop */
.nav-bg{ display:none; position:fixed; top:0; left:0; right:0; bottom:0; background-color:rgba(0, 0, 0, .5); z-index:999; }

/* btn */
.btn{ display:inline-block; position:relative; background-color:transparent; border:none; letter-spacing:-0.44px; text-align:center; overflow:hidden; cursor:pointer; } /* vertical-align:top; transition:all .3s ease-out .3s; */
.btn-default{ font-size:16px; font-weight:700; color:#fff; letter-spacing:-0.05em; }
.btn-gray{ background-color:#b3b3b3; }
.btn-black{ background-color:#000; }

/* ico */
[class^='ico']{ display:inline-block; position:relative; top:-1px; background-position:50% 0; background-size:100% 100%; background-repeat:no-repeat; text-indent:-9999px; vertical-align:middle; }
/* .ico-home{ width:24px; height:24px; background-image:url(//img.sdij.com/books/mo/2022/ico/ico_home.png); } */
.ico-delivery{ width:24px; height:24px; background-image:url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 4c1.306 0 2.418.835 2.83 2H9.17A3.001 3.001 0 0 1 12 4ZM7.1 6H2v16h20V6h-5.1a5.002 5.002 0 0 0-9.8 0ZM20 8H4v12h16V8Zm-5 7H9v-2h6v2Z' fill='%23111'/%3E%3C/svg%3E"); }
.ico-hamburger{ width:24px; height:24px; background-image:url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 7H4V5h16v2ZM20 13H4v-2h16v2ZM20 19H4v-2h16v2Z' fill='%23000' fill-opacity='.93'/%3E%3C/svg%3E"); }
.ico-home{ width:24px; height:24px; background-image:url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.106 18.058h2.827l-1.082 1.713H1L11.59 3l1.082 1.712 2.661 4.216-1.01 1.605-2.733-4.325-7.484 11.85ZM22.181 3h-9.405l1.082 1.712h5.215l-3.2 5.07-1.013 1.603-4.214 6.673H8.119l-1.082 1.713h4.554l1.083-1.713h-.002l3.2-5.07 1.013-1.603L22.181 3ZM12.166 13.164a.879.879 0 1 0-1.464-.974.879.879 0 0 0 1.464.974Zm6.907 4.894-2.661-4.215 1.012-1.603 4.757 7.53h-9.406l1.082-1.712h5.216Z' fill='%23000' fill-opacity='.93'/%3E%3C/svg%3E"); }
.ico-logo{ width:24px; height:24px; background-image:url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.106 18.058h2.827l-1.082 1.713H1L11.59 3l1.082 1.712 2.661 4.216-1.01 1.605-2.733-4.325-7.484 11.85ZM22.181 3h-9.405l1.082 1.712h5.215l-3.2 5.07-1.013 1.603-4.214 6.673H8.119l-1.082 1.713h4.554l1.083-1.713h-.002l3.2-5.07 1.013-1.603L22.181 3ZM12.166 13.164a.879.879 0 1 0-1.464-.974.879.879 0 0 0 1.464.974Zm6.907 4.894-2.661-4.215 1.012-1.603 4.757 7.53h-9.406l1.082-1.712h5.216Z' fill='%23000' fill-opacity='.93'/%3E%3C/svg%3E"); }
.ico-books{ background-image: url("data:image/svg+xml,%3Csvg width='182' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.188 13.815c0 .244-.07.483-.204.686a1.208 1.208 0 0 1-1.877.19 1.237 1.237 0 0 1-.266-1.344 1.23 1.23 0 0 1 .449-.554 1.211 1.211 0 0 1 1.54.152c.228.231.357.544.358.87ZM21.882 15.45l3.698 5.917h-7.246L16.83 23.77h13.066L23.29 13.2l-1.407 2.25Z' fill='%23111'/%3E%3Cpath d='M29.897.23H16.831l1.503 2.403h7.246L21.133 9.75 19.726 12l-5.854 9.367h-3.51L8.858 23.77h6.327l1.504-2.403h-.003l4.447-7.117L22.54 12 29.897.23Z' fill='%23111'/%3E%3Cpath d='M8.714 21.367H4.786L15.183 4.733l3.796 6.07 1.405-2.253-3.698-5.917L15.183.23.471 23.77h6.74l1.503-2.403ZM45.265 13.973a44.552 44.552 0 0 1-1.593-1.636 6.58 6.58 0 0 1-.822-1.017 5.19 5.19 0 0 1-.483-.96c-.12-.324-.2-.661-.235-1.004-.04-.404-.06-.81-.058-1.215V3.172h-3.071v4.961c.002.42-.027.84-.089 1.255a5.224 5.224 0 0 1-.821 2.073c-.248.365-.523.71-.825 1.031a48.877 48.877 0 0 1-3.407 3.315l-.05.043 1.976 2.035.046-.042a85.75 85.75 0 0 0 1.686-1.594 74.06 74.06 0 0 0 1.342-1.345c.417-.43.759-.796 1.085-1.19.236-.256.438-.54.601-.848.15.272.331.525.541.753.304.354.68.753 1.118 1.19.437.436.88.89 1.367 1.367.488.477.986.954 1.502 1.436l.045.042 1.932-2.007-.048-.043a45.55 45.55 0 0 1-1.74-1.631ZM51.466 1.407h-2.943v21.186h2.943V1.407ZM70.892 8.585h-1.775V1.407h-2.938v20.167h2.938V11.18h1.775v11.413h2.938V1.407h-2.938v7.178ZM64.043 13.775c-.924.149-1.855.246-2.79.291-.919.045-1.844.068-2.748.068h-.587v-8.38h5.235V3.172h-8.156v13.536h3.508c.94 0 1.928-.022 2.945-.067a21.192 21.192 0 0 0 2.906-.316h.057l-.305-2.55h-.065ZM93.84 1.407h-2.943v15.301h2.942V1.407ZM83.246 14.943h-2.943v7.65h14.125v-2.735H83.246v-4.915ZM85.29 12.964a5.25 5.25 0 0 0 1.758-1.096 4.807 4.807 0 0 0 1.104-1.58 4.76 4.76 0 0 0 .39-1.88V7.143a4.78 4.78 0 0 0-.392-1.88 4.827 4.827 0 0 0-1.102-1.581 5.286 5.286 0 0 0-1.758-1.093 6.96 6.96 0 0 0-4.677 0 5.26 5.26 0 0 0-1.758 1.093 4.805 4.805 0 0 0-1.104 1.58 4.759 4.759 0 0 0-.39 1.88v1.266c0 .646.132 1.286.388 1.881a4.79 4.79 0 0 0 1.106 1.58 5.25 5.25 0 0 0 1.758 1.095 7.002 7.002 0 0 0 4.677 0Zm-3.477-7.972a3.158 3.158 0 0 1 2.277 0c.32.131.61.324.852.567.234.236.417.515.54.822.126.303.191.627.192.954V8.2a2.53 2.53 0 0 1-1.584 2.345c-.733.28-1.544.28-2.277 0a2.592 2.592 0 0 1-.855-.566 2.505 2.505 0 0 1-.73-1.778v-.866c.008-.66.269-1.294.73-1.771.244-.245.534-.44.855-.572ZM115.018 1.407v7.382h-1.75V1.407h-2.95v20.167h2.95v-10.19h1.75v11.21h2.951V1.406h-2.951ZM108.13 13.433a31.94 31.94 0 0 1-1.465-1.646 10.06 10.06 0 0 1-.599-.809c-.162-.242-.3-.5-.411-.769a3.663 3.663 0 0 1-.226-.834 6.828 6.828 0 0 1-.07-1.03V5.73h3.314V3.172h-9.73V5.73h3.447v2.638a7.93 7.93 0 0 1-.069 1.11 4.023 4.023 0 0 1-.226.89 4.59 4.59 0 0 1-.422.814c-.177.268-.39.555-.632.854a38.944 38.944 0 0 1-1.491 1.693 30.838 30.838 0 0 1-1.542 1.555l-.05.045 2.014 1.968.046-.046c.475-.464.966-.97 1.46-1.507.493-.538.933-1.03 1.319-1.485.295-.349.557-.668.771-.95.157-.192.295-.398.414-.615.115.212.252.41.411.593a44.617 44.617 0 0 0 1.946 2.196c.437.462.887.932 1.331 1.382l.044.042 2.015-1.849-.028-.033a65.971 65.971 0 0 1-1.571-1.592ZM181.529 19.65h-57.675v2.943h57.675v-2.942ZM123.854 1.407h5.186c1.978 0 4.946.57 4.946 3.924 0 1.82-1.231 3.09-3.056 3.42v.043c2.088.198 3.517 1.6 3.517 3.486 0 3.858-3.473 4.428-5.407 4.428h-5.186V1.407Zm2.9 6.182h1.258c1.297 0 2.902-.274 2.902-1.864 0-1.775-1.561-1.918-2.968-1.918h-1.187l-.005 3.782Zm0 6.708h1.451c1.428 0 3.165-.351 3.165-2.127 0-1.995-1.627-2.302-3.165-2.302h-1.451v4.429ZM141.498 4.938c3.342 0 5.897 2.249 5.897 5.961 0 3.232-2.162 5.81-5.897 5.81-3.734 0-5.874-2.578-5.874-5.81.006-3.712 2.561-5.961 5.874-5.961Zm0 9.499c2.25 0 2.839-2.009 2.839-3.887 0-1.725-.917-3.341-2.839-3.341-1.921 0-2.817 1.66-2.817 3.341.006 1.856.595 3.887 2.817 3.887ZM154.446 4.938c3.341 0 5.896 2.249 5.896 5.961 0 3.232-2.162 5.81-5.896 5.81s-5.874-2.578-5.874-5.81c0-3.712 2.555-5.961 5.874-5.961Zm0 9.499c2.249 0 2.839-2.009 2.839-3.887 0-1.725-.918-3.341-2.839-3.341-1.922 0-2.817 1.66-2.817 3.341 0 1.856.589 3.887 2.817 3.887ZM161.519 1.407h2.929v8.527l3.545-4.408h3.531l-4.12 5.003 4.708 6.18h-3.531l-4.133-5.481v5.48h-2.929V1.407ZM180.778 7.55a7.337 7.337 0 0 0-2.653-.481c-.792 0-1.744.273-1.744 1.246 0 1.792 5.148.655 5.148 4.721 0 2.623-2.366 3.672-4.773 3.672a13.372 13.372 0 0 1-3.356-.48l.177-2.405c.899.47 1.897.725 2.914.743.751 0 1.946-.273 1.946-1.366 0-2.208-5.148-.7-5.148-4.765 0-2.426 2.145-3.497 4.461-3.497 1.088.01 2.172.15 3.227.415l-.199 2.197Z' fill='%23111'/%3E%3C/svg%3E"); background-size: 100%; }
.ico-mypage{ width:24px; height:24px; background-image:url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.702 18h2.112v-4.944c0-1.12-.176-2.768-.304-3.888h.064l.96 2.784 1.824 4.992h1.36l1.824-4.992.976-2.784h.08c-.128 1.12-.32 2.768-.32 3.888V18h2.16V6.16H9.814l-1.968 5.552c-.24.736-.448 1.504-.72 2.272h-.064c-.256-.768-.464-1.536-.736-2.272L4.31 6.16H1.702V18Zm13.897 3.6c2.016 0 2.976-1.216 3.76-3.312l3.184-9.232h-2.256L19.039 13.2c-.208.848-.432 1.696-.624 2.544h-.08c-.272-.864-.496-1.728-.768-2.544l-1.408-4.144h-2.384l3.488 8.784-.144.528c-.272.8-.784 1.376-1.68 1.376-.224 0-.464-.08-.624-.128l-.432 1.808c.336.112.704.176 1.216.176Z' fill='%23000' fill-opacity='.93'/%3E%3C/svg%3E"); }
.ico-search{ width:24px; height:24px; background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.214 9a6 6 0 1 1-12 0 6 6 0 0 1 12 0Zm2 0a8 8 0 0 1-13.15 6.121l-6.65 6.65L2 20.356l6.705-6.704A8 8 0 1 1 23.215 9Z' fill='%23000' fill-opacity='.93'/%3E%3C/svg%3E"); }
.ico-share{ width:24px; height:24px; background-image:url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.4745 4.29005C18.0246 3.68564 17.1763 3.56512 16.5797 4.02086C15.9831 4.47661 15.8642 5.33603 16.314 5.94044C16.7639 6.54486 17.6122 6.66537 18.2088 6.20963C18.8054 5.75388 18.9243 4.89446 18.4745 4.29005ZM19.8493 3.23979C18.8269 1.86613 16.899 1.59223 15.5431 2.62801C14.3978 3.50286 14.027 5.03221 14.5555 6.31404L11.1792 8.89319L12.2159 10.286L15.6371 7.67255C16.6986 8.42145 18.1565 8.43434 19.2454 7.60248C20.6013 6.5667 20.8717 4.61345 19.8493 3.23979ZM7.81272 14.0963C8.96746 14.0963 9.90356 13.1479 9.90356 11.978C9.90356 10.8082 8.96746 9.85979 7.81272 9.85979C6.65797 9.85979 5.72187 10.8082 5.72187 11.978C5.72187 13.1479 6.65797 14.0963 7.81272 14.0963ZM7.81272 15.8407C9.91842 15.8407 11.6254 14.1113 11.6254 11.978C11.6254 9.84473 9.91842 8.11535 7.81272 8.11535C5.70701 8.11535 4 9.84473 4 11.978C4 14.1113 5.70701 15.8407 7.81272 15.8407ZM18.9161 19.0341C19.3384 18.4096 19.1809 17.5565 18.5644 17.1288C17.9479 16.7011 17.1059 16.8606 16.6837 17.4851C16.2615 18.1097 16.419 18.9627 17.0355 19.3905C17.6519 19.8182 18.4939 19.6587 18.9161 19.0341ZM20.3368 20.0198C21.2963 18.6004 20.9384 16.6617 19.5374 15.6896C18.4217 14.9155 16.9811 14.9877 15.9559 15.7659L12.4164 13.3099L11.4434 14.7492L14.9214 17.1625C14.4331 18.4743 14.8699 20.0022 16.0625 20.8297C17.4636 21.8019 19.3772 21.4393 20.3368 20.0198Z' fill='white'/%3E%3C/svg%3E%0A"); }
.ico-alam{ width:24px; height:24px; background-image:url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.8889 2V3.83594C16.1856 4.27104 18.73 7.09234 18.73 10.5079V16.9842H20V18.762H15.152C15.1669 18.8868 15.1746 19.014 15.1746 19.1429C15.1746 20.8962 13.7533 22.3175 12 22.3175C10.2467 22.3175 8.82539 20.8962 8.82539 19.1429C8.82539 19.014 8.83307 18.8868 8.84801 18.762H4V16.9842H5.26966V10.5079C5.26966 7.09218 7.81422 4.27079 11.1112 3.83588V2H12.8889ZM10.6557 18.762C10.6215 18.883 10.6032 19.0108 10.6032 19.1429C10.6032 19.9143 11.2285 20.5397 12 20.5397C12.7714 20.5397 13.3968 19.9143 13.3968 19.1429C13.3968 19.0108 13.3785 18.883 13.3443 18.762H10.6557ZM7.04744 10.5079C7.04744 7.77277 9.26469 5.55551 11.9998 5.55551C14.7349 5.55551 16.9522 7.77277 16.9522 10.5079V16.9841H7.04744V10.5079Z' fill='white'/%3E%3C/svg%3E%0A");}
.ico-dropdown{ width:12px; height:12px; background-image:url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.36358 5.67476L11.701 0.337376L12.7275 1.36395L6.36358 7.72791L-0.000383854 1.36395L1.02619 0.337376L6.36358 5.67476Z' fill='black' fill-opacity='0.93'/%3E%3C/svg%3E%0A"); }
.ico-close{ width:26px; height:26px; background-image:url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m3 3 26 26M29 3 3 29' stroke='%23000'/%3E%3C/svg%3E"); }
.ico-close-w{ width:26px; height:26px; background-image:url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m3 3 26 26M29 3 3 29' stroke='%23fff'/%3E%3C/svg%3E"); }
.ico-facebook{ width:60px; height:60px; background-image:url("data:image/svg+xml,%3Csvg width='60' height='60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='30' cy='30' r='30' fill='%231574EA'/%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M37.998 20.292V15h-4.633a6.623 6.623 0 0 0-4.706 1.968 6.75 6.75 0 0 0-1.95 4.75v4.841H22v5.526h4.71v12.913h5.746V32h4.305l.82-5.485h-5.125V22.61c0-.615.241-1.205.672-1.64a2.287 2.287 0 0 1 1.623-.68h3.247Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(22 15)' d='M0 0h16v30H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E"); }
.ico-tweeter{ width:60px; height:60px; background-image:url("data:image/svg+xml,%3Csvg width='60' height='60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='30' cy='30' r='30' fill='%231EA0F1'/%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M45.916 21.3c-.634.9-1.363 1.728-2.174 2.472-.883.804-.726 1.35-.812 2.45-.13 1.64-.47 3.258-1.008 4.813a18.313 18.313 0 0 1-5.43 7.918C30.586 44.005 21.482 44.22 15 40.195c4.77.204 6.91-.781 9.393-2.625-2.496-.36-4.734-1.03-5.958-4.464.912.262 1.881.25 2.787-.036-2.3-.734-5.004-1.853-5.004-6.295.975.59 2.294.841 2.866.762-3.102-2.152-3.353-5.777-1.942-8.47 1.994 2.986 9.363 7.174 12.716 6.437-.373-3.012 1.248-6.08 4.232-7.1a7.068 7.068 0 0 1 5.01.119 5.532 5.532 0 0 1 1.793 1.168.495.495 0 0 0 .257.17c.072.014.145.01.215-.01a22.396 22.396 0 0 0 3.484-1.419c.2-.114-1.027 2.812-2.704 3.524a28.056 28.056 0 0 0 3.257-1.017.618.618 0 0 1 .429-.054c.165.047.238.21.085.415Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(15 18)' d='M0 0h31v25H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E"); }
.ico-kakao{ width:60px; height:60px; background-image:url("data:image/svg+xml,%3Csvg width='60' height='60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='30' cy='30' r='30' fill='%23FFE812'/%3E%3Cg clip-path='url(%23a)' fill='%23261A00'%3E%3Cpath d='M30.5 16C20.835 16 13 22.12 13 29.67c0 4.882 3.276 9.165 8.203 11.584-.268.916-1.723 5.892-1.78 6.283 0 0-.035.294.157.406.191.112.417.025.417.025.55-.076 6.385-4.136 7.395-4.841 1.03.144 2.068.215 3.108.215 9.665 0 17.5-6.12 17.5-13.67C48 22.12 40.165 16 30.5 16Zm-8.666 17.488c0 .526-.453.955-1.01.955-.556 0-1.01-.429-1.01-.955v-5.943H18.24a.993.993 0 0 1-.699-.287.975.975 0 0 1 0-1.385.993.993 0 0 1 .7-.287h5.17c.262 0 .513.104.698.287a.975.975 0 0 1 0 1.385.993.993 0 0 1-.699.287h-1.575v5.943Zm8.485.804c-.201.09-.42.138-.642.138-.42 0-.743-.17-.84-.442l-.5-1.297H25.26l-.5 1.298c-.097.272-.419.441-.84.441-.221 0-.44-.047-.642-.138-.279-.127-.546-.477-.24-1.42l2.415-6.299c.17-.479.687-.971 1.345-.987.66.015 1.176.508 1.346.988l2.415 6.296c.307.945.04 1.295-.239 1.422Zm5.103.005h-3.24c-.533 0-.967-.412-.967-.917v-6.794c0-.551.462-1 1.031-1 .57 0 1.032.449 1.032 1v5.877h2.145c.534 0 .968.412.968.917 0 .505-.436.917-.97.917Zm7.903-.754a.996.996 0 0 1-.746.83 1.018 1.018 0 0 1-1.06-.366l-2.367-3.108-.35.347v2.183a.993.993 0 0 1-.291.716 1.011 1.011 0 0 1-1.108.22 1.01 1.01 0 0 1-.547-.549.993.993 0 0 1-.074-.387v-6.843a.996.996 0 0 1 .3-.698 1.015 1.015 0 0 1 1.42 0 .996.996 0 0 1 .3.698v2.15l2.817-2.79a.782.782 0 0 1 .56-.223 1 1 0 0 1 .694.296c.174.168.28.393.297.634a.774.774 0 0 1-.223.609l-2.3 2.279 2.485 3.262a.988.988 0 0 1 .193.741v-.001Z'/%3E%3Cpath d='M25.79 30.92h2.017l-1.009-2.839-1.008 2.839Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(13 16)' d='M0 0h35v32H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E"); }
.ico-linked{ width:60px; height:60px; background-image:url("data:image/svg+xml,%3Csvg width='60' height='60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='30' cy='30' r='30' fill='%23ABABAB'/%3E%3Cpath d='M33.344 27.643a6.254 6.254 0 0 0-1.25-.958l-1.157 1.15a1.56 1.56 0 0 0-.38 1.561c.209.127.403.277.578.448a3.123 3.123 0 0 1 .678 3.405 3.123 3.123 0 0 1-.678 1.013l-4.69 4.684a3.13 3.13 0 0 1-5.339-2.21c0-.828.33-1.623.916-2.208l2.757-2.748a7.754 7.754 0 0 1-.433-3.966l-4.512 4.507a6.252 6.252 0 0 0 0 8.847 6.267 6.267 0 0 0 8.857 0l4.69-4.684a6.243 6.243 0 0 0-.037-8.841Z' fill='%23fff'/%3E%3Cpath d='M41.159 19.837a6.253 6.253 0 0 0-6.826-1.36c-.76.316-1.45.777-2.031 1.36l-4.69 4.683a6.218 6.218 0 0 0-.805 7.85 6.223 6.223 0 0 0 2.056 1.939l1.157-1.15a1.56 1.56 0 0 0 .38-1.561 3.183 3.183 0 0 1-.578-.448 3.122 3.122 0 0 1 0-4.418l4.689-4.684a3.13 3.13 0 0 1 5.339 2.21c0 .828-.33 1.623-.916 2.209l-2.72 2.747a7.797 7.797 0 0 1 .454 3.966l4.511-4.512a6.241 6.241 0 0 0-.02-8.831Z' fill='%23fff'/%3E%3C/svg%3E"); }
.ico-new{ width:20px; height:20px; background-image:url("data:image/svg+xml,%3Csvg width='31' height='31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='31' height='31' rx='15.5' fill='%23C27477'/%3E%3Cpath d='M11.53 21h1.96v-4.158c0-1.19-.153-2.492-.251-3.612h.07l1.05 2.226L17.355 21h2.1V10.626h-1.96v4.144c0 1.176.168 2.548.266 3.626h-.07l-1.036-2.24-3.01-5.53H11.53V21Z' fill='%23fff'/%3E%3C/svg%3E"); }

.ico-myinfo{ width:20px; height:20px; background-image:url(//img.sdij.com/books/mo/2022/ico/ico_myinfo.png); }
/* .ico-go{ width:6px; height:12px; background-image:url(//img.sdij.com/books/mo/2022/ico/ico_go.png); } */
.ico-back{ width:10px; height:20px; background-image:url(//img.sdij.com/books/mo/2022/ico/ico_back.png); }
.ico-bag{ width:26px; height:26px; background-image:url(//img.sdij.com/books/mo/2022/ico/ico_bag.png); }
.ico-customer{ width:24px; height:24px; background-image:url(//img.sdij.com/books/mo/2022/ico/ico_customer.png); }
.ico-personal{ width:24px; height:24px; background-image:url(//img.sdij.com/books/mo/2022/ico/ico_personal.png); }
.ico-order{ width:23px; height:19px; background-image:url(//img.sdij.com/books/mo/2022/ico/ico_order.png); }
.ico-prev{ width:5px; height:10px; background-image:url(//img.sdij.com/books/mo/2022/ico/ico_prev.png); }
.ico-tooltip{ width:18px; height:18px; background-image:url(//img.sdij.com/books/mo/2022/ico/ico_tooltip.png); }
.ico-monthly{ width:46px; height:12px; background-image:url(//img.sdij.com/books/mo/2022/ico/ico_monthly.png); }

/* ico- */
[class^='ico-']{ width:20px; height:20px; margin-right:10px; display:inline-block; position:relative; text-indent:-9999px; background:url("//img.sdij.com/common/common.png") no-repeat; border:0; border-radius:50%; overflow:hidden; vertical-align:middle; } /* background-position:50% 0; background-size:100% 100%; background-repeat:no-repeat; */
/* .ico-file{ background-color:#ddd; border:0; border-radius:50%; background-size:cover; overflow:hidden; } */
.ico-file{ background-position:0 -1925px; }
.ico-pdf{ background-position:0 -1850px; }
.ico-zip{ background-position:-50px -1888px; }
.ico-hwp{ background-position:0 -1888px; }
.ico-word{ background-position:-50px -1850px; }

/* list-toggle */
.list-toggle dt{ width:100%; margin-top:-1px; position:relative; border:1px solid #ededed; }
.list-toggle dt > a{ line-height:72px; height:72px; padding:0 25px; display:block; position:relative; vertical-align:middle; overflow:hidden; text-overflow:ellipsis; word-wrap:normal; white-space:nowrap; }
.list-toggle dt:after{ content:''; width:0.5rem; height:0.5rem; display:block; position:absolute; top:30px; right:25px; border-left:1px solid #000; border-bottom:1px solid #000; transform:rotate(-45deg); }
.list-toggle dt:hover, .list-toggle dt.selected{ border-color:#ededed; z-index:5; }
.list-toggle dt.selected:after{ top:35px; border:none; border-top:1px solid #000; border-right:1px solid #000; }

.list-toggle dd{ padding:20px 25px; display:none; border:1px solid #ededed; border-top:none; }
.list-toggle dd.on{ display:block; }

.list-toggle dt.none, .list-toggle dt.none:hover, .list-toggle dt.none.selected{ background-color:#f4f4f4; border-color:#ededed; color:#828282; cursor:default; }
.list-toggle dt.none a, .list-toggle dt.none:hover a{ color:#828282; }
.list-toggle dt.none:after, .list-toggle dt.none.selected:after{ border-color:#9c9c9c; }

/* sticker */
.sticker{ padding:4px 12px; display:inline-block; border:1px solid #000; font-size:12px; font-weight:400; vertical-align:middle; letter-spacing:-.02rem }
.sticker-type2{ height:2.071428571rem; line-height:2rem; padding:0 0.714285714rem; font-size:0.857142857rem; font-weight:700; color:#fff !important; text-align:center; }
.sticker-gray{ border-color:rgba(0, 0, 0, 0.4); color:rgba(0, 0, 0, 0.4); }
.sticker-red{ border-color:#f00; color:#f00; }
.sticker-type2.sticker-purple{ background-color:#7350dd; border-color:#7350dd; }
.sticker-type2.sticker-red{ background-color:#e60012; border-color:#e60012; }
.sticker-type2.sticker-orange{ background-color:#fa983a; border-color:#fa983a; }
.sticker-round{ border:0; border-radius:30px; }

/* tab */
.tab-menu{ background-color:#fff; padding-left:12px; border-bottom:1px solid #ededed; }
.tab-menu > ul li{ width:auto; padding:0 12px; }
.tab-menu > ul li a{ line-height:2.457142857rem; display:block; font-size:16px; font-weight:700; }
.tab-menu > ul li.selected a{ color:#000; border-bottom:2px solid #000; }

.tab-menu1{ padding-left:4px; }
.tab-menu1 > ul li{ width:auto; padding:0 4px; }
.tab-menu1 > ul li a{ padding:6px 18px; line-height:2.457142857rem; background-color:#f2f4f2; border-radius:16px; color:rgba(0, 0, 0, 0.4); font-size:14px; font-weight:300; overflow:hidden; }
.tab-menu1 > ul li.selected a{ background-color:#DFE3E3; color:#000; }

.tab-sub{ background-color:#fff; padding-left:14px; border-bottom:1px solid #ededed; }
.tab-sub:nth-child(odd){ background-color:rgba(0, 0, 0, 0.03); }
.tab-sub > ul li{ width:auto; padding:2px 14px; }
.tab-sub > ul li a, .tab-type1 > ul li span{ line-height:2.457142857rem; display:block; color:rgba(0, 0, 0, 0.4); font-size:14px; font-weight:400; }
.tab-sub > ul li.selected a{ color:rgba(0, 0, 0, 0.93); }

.tab-type1{ border-top:none; }
.tab-type1{ padding-left:1.428571429rem; background-color:#fdfdfd; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; }
.tab-type1 > ul li{ width:auto; height:2.785714286rem; }
.tab-type1 > ul li a, .tab-type1 > ul li span{ line-height:2.857142857rem; padding:0 1.071428571rem; display:block; font-size:1rem; font-weight:700; }
.tab-type1 > ul li.selected a{ background-color:#0068b7; color:#fff; }

.tab-type2{ background-color:#fdfdfd; }
.tab-type2 > ul{ width:100%; display:table; table-layout:fixed; }
.tab-type2 > ul li{ height:2.857142857rem; display:table-cell; position:relative; border:1px solid #dfdfdf; border-right:none; }
.tab-type2 > ul li:first-child{ border-left:none; }
.tab-type2 > ul li > a{ height:2.857142857rem; line-height:2.785714286rem; position:absolute; top:0; left:0; right:0; bottom:0; font-size:1rem; font-weight:700; color:#828282; text-align:center; }
.tab-type2 > ul li.selected a{ background-color:#fff; color:#000; }
/* 
.tab-type4{ margin:10px auto 20px; padding-top:10px; border-top:1px solid #222; }
.tab-type4 > ul > li{ margin:0 5px; display:inline-block; }
.tab-type4 > ul > li:first-child{ margin-left:0; }
.tab-type4 > ul > li a{ height:36px; line-height:34px; padding:0 20px; background-color:#f2f2f2; border-radius:18px; display:block; font-size:14px; font-weight:500; }
.tab-type4 > ul > li.selected a{ background-color:#ceffea; color:#000; }

.tab-type5{ margin:10px auto 20px; padding-top:10px; border-top:1px dashed #282828; }
.tab-type5 > ul > li{ margin:0 5px; display:inline-block; }
.tab-type5 > ul > li:first-child{ margin-left:0; }
.tab-type5 > ul > li a{ height:28px; line-height:26px; padding:0 14px; background-color:#f2f2f2; border-radius:18px; display:block; font-size:14px; font-weight:500; }
.tab-type5 > ul > li.selected a{ background-color:#adfad9; color:#000; }
 */
.tab-border{ padding-bottom:10px; border-bottom:1px dotted #000; }

.tab-content{ display:none; }
.tab-on{ display:block; }

/* swiper */
.swiper-container{ width:100%; }
.swiper-container .swiper-slide{ text-align:center; }
.swiper-container .swiper-slide > img{ width:auto; max-width:100%; }

.event-slide .swiper-pagination{ right:25px; top:24px; font-size:0; }
.event-slide .swiper-pagination span{ width:0.5rem; height:0.5rem; margin:0 1px; display:inline-block; background-color:rgba(0, 0, 0, 0.5); }
.event-slide .swiper-pagination span.swiper-pagination-bullet-active{ background:rgba(0, 0, 0, 0.9); }

 /* list-item */
.list-item ul{ display:flex; flex-wrap:wrap; }
.list-item ul li{ width:50%; margin-bottom:30px; display:flex; flex:0 1 50%; justify-content:center; align-items:center; }
.list-item ul li > a{ width:150px; padding:30px 0; text-align:center; border:1px solid rgba(0, 0, 0, 0.1); }
.list-item ul li > a:hover{ border:1px solid rgba(0, 0, 0, 0.5); transition:.8s ease-in; }
.list-item ul li > a .img-area > *{ box-sizing:border-box; }
.list-item ul li > a .img-area img{ max-width:100%; }
.list-item ul li > a .img-area span.sticker{ top:0; right:0; border:0; background-color:rgba(0, 0, 0, 0.3); color:#fff; font-size:12px; font-weight:300; }
.list-item ul li > a .img-area span.new .ico{ top:-15px; left:-5px; }
.list-item ul.book-list li > a .img-area{ width:148px; height:210px; border:1px solid #ededed; }
.list-item ul.book-list li{ margin-bottom:48px; align-items:baseline; }
.list-item ul.book-list li > a{ padding:0; border:0; text-align:left; }
.list-item ul.book-list li > a .tit-area{ margin-top:10px; }
.list-item ul.book-list li > a .tit-area > *{ height:60px; padding:0; letter-spacing:-0.02em; overflow:hidden; text-overflow:ellipsis; word-break:break-all; white-space:normal; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; }
.list-item ul.book-list li > a .tit-area .tit{ font-size:14px; font-weight:400; }
.list-item ul.book-list2 li{ margin-bottom:48px; display:flex; flex-direction:column; justify-content:flex-start; align-items:center; box-sizing:border-box; }
.list-item ul.book-list2 li a .img-area{ width:140px !important; height:210px !important; padding:0; margin:0 auto;  }
.list-item ul.book-list2 li { padding:0; border:0; text-align:left; }
.list-item ul.book-list2 li .tit-area{ width:148px; margin-top:10px; }
.list-item ul.book-list2 li .tit-area .tit{ line-height:1.4; max-width:148px; height:55px; padding:0; overflow:hidden; text-overflow:ellipsis; word-break:break-all; white-space:normal; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; }
.list-item ul.book-list2 li .tit-area .tit{ font-size:14px; font-weight:400; }
.list-item ul.book-list2 li .tit-area .txt-area span.color-gray{ margin-bottom:3px; letter-spacing:-0.03em; font-size:12px; font-weight:300; }
.list-item ul.book-list2 li .tit-area .txt-area span.price{ font-size:14px !important; }
.list-item ul.book-list2 li .tit-area .txt-area span{ padding:0; display:block; }
.list-item ul.book-list2 li .tit-area .price-area{ display:block; position:relative; }
.list-item ul.book-list2 li .tit-area .price-area a .ico{ display:block; position:absolute; top:5px; right:5px; }
.list-item ul li a .circle-area{ width:60px; height:60px; margin:0 auto; border:1px solid transparent; border-radius:50%; overflow:hidden; } 
.list-item ul li a .circle-area p.name{ min-height:100%; display:flex; align-items:center; justify-content:center; background-color:#C4D0D5; font-size:26px; font-weight:500; color:#fff; }
.list-item ul li a .circle-area p.name:nth-child(odd){ background-color:#C9D6CA; }
.list-item ul li a .txt-area{ margin-top:16px; }
.list-item ul li a .txt-area > *{ padding:0 20px; vertical-align:middle; overflow:hidden; text-overflow:ellipsis; word-wrap:normal; white-space:nowrap; }
.list-item ul li a .txt-area .tit{ line-height:20px; font-size:16px; font-weight:600; }
.list-item ul li a .txt-area .txt{ line-height:22px; color:rgba(0, 0, 0, 0.6); font-size:12px; font-weight:400; }

/* table */
.board-list table{ border-top:1px solid #000; }
.board-list table tbody tr{ border-bottom:1px solid rgba(0, 0, 0, 0.2); }
.board-list table tbody tr th{ padding:50px 30px; }
.board-list table tbody tr:nth-child(1) th{ background-color:rgba(0, 0, 0, 0.05); }
.board-list table tbody tr:nth-child(2) th{ background-color:rgba(0, 0, 0, 0.08); }
.board-list table tbody tr:nth-child(3) th{ background-color:rgba(0, 0, 0, 0.11); }

.board-list table tbody tr p.tit-area{ line-height:16px; font-size:16px; font-weight:600; }
.board-list table tbody tr p.tit-area small{ line-height:12px; margin-top:8px; font-size:12px; font-weight:350; }

.board-list table tbody tr td{ padding:16px 20px; }
.board-list table tbody tr td .txt-area .tit{ line-height:20px; margin-bottom:6px; font-size:14px; font-weight:500; }
.board-list table tbody tr td .txt-area .list-dotted > li{ line-height:20px; color:rgba(0, 0, 0, 0.4); font-size:12px; font-weight:350; }
.board-list table tbody tr td .txt-area .list-dotted > li.txt-underline{ color:#000; }

/* tooltip */
.tooltip-layer{ padding:10px 30px 10px 10px; display:none; position:absolute; left:0; background-color:#fff; border:1px solid #959595; border-radius:10px; font-size:12px; font-weight:300; color:#959595; z-index:999; }
/* .tooltip-layer:after{ content:''; width:9px; height:6px; position:absolute; top:-6px; right:20px; background:url() 50% 0 no-repeat; } */
.tooltip-layer .ico-close{ width:12px; height:12px; position:absolute; top:0.714285714rem; right:0.714285714rem; }

/* notice */
.notice-area .notice-list{ margin-top:0; padding:1.125rem 25px; border-bottom:1px solid rgba(0, 0, 0, 0.08); }
.notice-area .notice-list:last-child{ border:0; }
.notice-area .notice-list a.txt-area{ position:relative; display:flex; font-size:14px; }
.notice-area .notice-list a.txt-area .tit{ width:64px; display:block; }
.notice-area .notice-list a.txt-area .txt{ width:80%; display:block; font-weight:300; }
.notice-area .notice-list a.txt-area::after{ content: ''; width:0.5625rem; height:0.5625rem; position:absolute; top:5px; right:0; -webkit-transform:rotateZ(45deg); border:1px solid black; border-width:1px 1px 0 0; }

/* file */
.file-area{ line-height:20px; position:relative; font-size:0; }
.file-area .tit{ position:absolute; left:0; }
.file-area .btn{ width:90%; height:24px; line-height:20px; color:rgba(0, 0, 0, 0.6); text-align:left; text-decoration:underline; font-size:12px; vertical-align:middle; overflow:hidden; text-overflow:ellipsis; word-wrap:normal; white-space:nowrap; }
.file-area .btn .ico-file{ width:20px; height:20px; margin-right:10px; }

/* list */
.list-dotted > li, p.list-dotted{ width:100%; position:relative; word-break:break-all; }
.list-dotted > li, p.list-dotted{ line-height:24px; padding-left:12px; font-size:12px; font-weight:400; word-break:keep-all; }
.list-dotted > li em{ line-height:13px; display:block; font-size:12px; color:#7d7d7d; margin:8px 0 0 0; }
.list-dotted > li:after, p.list-dotted:after{ content:''; width:3px; height:3px; display:inline-block; position:absolute; top:10px; left:0; background-color:#000; border-radius:50%; }

/* search */
.search-form{ padding-top:24px; border-bottom:3px solid #000; position:relative; }
.search-form .input-text{ width:200px; height:50px; line-height:48px; border-right:none; }
.search-form .btn{ width:34px; height:50px; line-height:48px; position:absolute; right:0; top:20px; }

/* input */
input[type=text]{ border-radius:0; }
.input-search{ width:100%; display:inline-block; position:relative; }
.input-search input{ width:100%; height:50px; line-height:48px; border:none; font-weight:700; color:#000; font-size:18px; }
.input-search input:hover, .input-search input:focus{ color:#000; }

/* nodata */
.no-data{ padding:30px 0 300px; text-align:center; }
.no-data .txt{ margin-top:6px; color:rgba(0, 0, 0, 0.6); font-size:14px; font-wieght:400; }