@charset "utf-8";

/* font */ 
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/css?family=Noto+Serif+KR:300,400,500,700,900&display=swap&subset=korean);
@font-face { font-family: 'NotoSansKR'; font-weight: 300; font-style: normal; src: url("/sdijbooks/m/common/css/font/NotoSansKR-Light.woff") format("woff"), url("/sdijbooks/m/common/css/font/NotoSansKR-Light.woff2") format("woff2"), url("sdijbooks/m/common/css/font/NotoSansKR-Light.otf") format("OpenType"); }
@font-face { font-family: 'NotoSansKR'; font-weight: 400; font-style: normal; src: url("/sdijbooks/m/common/css/font/NotoSansKR-Regular.woff") format("woff"), url("/sdijbooks/m/common/css/font/NotoSansKR-Regular.woff2") format("woff2"), url("sdijbooks/m/common/css/font/NotoSansKR-Regular.otf") format("OpenType"); }
@font-face { font-family: 'NotoSansKR'; font-weight: 500; font-style: normal; src: url("/sdijbooks/m/common/css/font/NotoSansKR-Medium.woff") format("woff"), url("/sdijbooks/m/common/css/font/NotoSansKR-Medium.woff2") format("woff2"), url("sdijbooks/m/common/css/font/NotoSansKR-Medium.otf") format("OpenType"); }
@font-face { font-family: 'NotoSansKR'; font-weight: 700; font-style: normal; src: url("/sdijbooks/m/common/css/font/NotoSansKR-Bold.woff") format("woff"), url("/sdijbooks/m/common/css/font/NotoSansKR-Bold.woff2") format("woff2"), url("sdijbooks/m/common/css/font/NotoSansKR-Bold.otf") format("OpenType"); }
/* 
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: url("/sdijbooks/m/common/css/font/roboto-v29-latin-regular.eot"); IE9 Compat Modes src: local(""), url("sdijbooks/m/common/css/font/roboto-v29-latin-regular.eot?#iefix") format("embedded-opentype"), url("sdijbooks/m/common/css/font/roboto-v29-latin-regular.woff2") format("woff2"), url("/common/css/font/roboto-v29-latin-regular.woff") format("woff"), url("/common/css/font/roboto-v29-latin-regular.ttf") format("truetype"), url("/common/css/font/roboto-v29-latin-regular.svg#Roboto") format("svg"); Legacy iOS }
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 500; src: url("/sdijbooks/m/common/css/font/roboto-v29-latin-500.eot"); IE9 Compat Modes src: local(""), url("/sdijbooks/m/common/css/font/roboto-v29-latin-500.eot?#iefix") format("embedded-opentype"), url("sdijbooks/m/common/css/font/roboto-v29-latin-500.woff2") format("woff2"), url("/common/css/font/roboto-v29-latin-500.woff") format("woff"), url("/common/css/font/roboto-v29-latin-500.ttf") format("truetype"), url("/common/css/font/roboto-v29-latin-500.svg#Roboto") format("svg"); Legacy iOS }
 */
/* reset */
html, body {max-width:100%;width:100%;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html {-webkit-text-size-adjust:100%;overflow-y:scroll;line-height:1.35;scroll-behavior:smooth;}
body {font-size:16px;color:#3a3635;}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,button,
table, caption, tbody, tfoot, thead, tr, th, td{margin: 0;padding: 0;border: 0;outline: 0;line-height:inherit;font-size:100%;font-family:'Noto Sans KR','Malgun Gothic','맑은고딕','맑은 고딕','돋움','Dotum','Helvetica','Apple SD Gothic Neo','Sans-serif','Nanum Gothic','apple SD Gothic Neo','NotoSansKR','Malgun Gothic',sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:auto;}

:focus {outline: 0;}
hr{padding:0;margin:0;}
table {border-collapse: collapse;border-spacing: 0;}
table tr th, table tr td{vertical-align:middle;}
fieldset, img {border:0;vertical-align:top;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption{display:block}
ins {text-decoration: none;}
video{display:block;}
li {list-style: none;}
a{text-decoration:none;}
caption{ text-align: left;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: normal;padding:0;}
q:before,q:after {content: '';}
abbr,acronym {	border: 0;font-variant: normal;}
sup,sub {vertical-align: baseline;}
legend {color: #666;}
select,input,textarea,button {-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-appearance: none;-webkit-appearance: none;appearance: none;vertical-align:middle;font-size:16px;font-family:'Noto Sans KR', 'Malgun Gothic','맑은고딕','맑은 고딕','돋움','Dotum','Helvetica','Apple SD Gothic Neo',Sans-serif;}
input[type=text]{border:1px solid #c4c2c2;padding:0 5px;height:30px;line-height:28px;border-radius:3px;color:#666;font-size:14px;box-sizing:border-box;}
button{cursor:pointer;outline:0;}
em,i {font-style:normal;}
pre,code,kbd,samp,tt {*font-size:100%;line-height:100%;}
a{text-decoration:none;color:#3a3635;background:transparent;outline:0;}
a:hover, a.on { color:rgba(0, 0, 0, 0.93);}
textarea{padding:0;border:0;background-color:transparent;overflow-y:scroll;resize:none;}
textarea:focus, input:focus, select:focus{outline:0;}


/* media */
/* mobiles : 모바일 작업 시 PSD 값을 그대로 계산 ex) 28px에 경우 0.5rem이 아닌 1rem 그대로 작업 */
@media all and (max-width:374px) and (orientation:portrait){html{font-size:18px;}}
@media all and (max-width:666px) and (orientation:landscape){html{font-size:18px;}}
@media all and (min-width:375px) and (max-width:413px) and (orientation:portrait){html{font-size:18px;}}
@media all and (min-width:667px) and (max-width:812px) and (orientation:landscape){html{font-size:18px;}}
@media all and (min-width:414px) and (max-width:539px) and (orientation:portrait){html{font-size:18px;}}
@media all and (min-width:813px) and (max-width:959px) and (orientation:landscape){html{font-size:18px;}}
@media all and (min-width:540px) and (max-width:599px) and (orientation:portrait){html{font-size:18px;}}
@media all and (min-width:960px) and (max-width:1023px) and (orientation:landscape){html{font-size:18px;}}

/* Tablets */
@media all and (min-width:600px) and (max-width:799px) and (orientation:portrait){html{font-size:18px;}}
@media all and (min-width:1024px) and (max-width:1279px) and (orientation:landscape){html{font-size:18px;}}
@media all and (min-width:800px) and (max-width:1023px) and (orientation:portrait){html{font-size:22px;}}
@media all and (min-width:1280px) and (max-width:1335px) and (orientation:landscape){html{font-size:22px;}}
@media all and (min-width:1024px) and (orientation:portrait){html{font-size:22px;}}
@media all and (min-width:1336px) and (orientation:landscape){html{font-size:24px;}}/* 기준 px */